
{% extends 'lentes/index.html' %}
{% load static %}
{% load widget_tweaks %}


{% block Contenido %}
<div class="content">
    <div class="animated fadeIn">    
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Control de descarte:</h4>
                </div>
                <div class="center">
                    <div class="col-lg-8">
                        <div class="row">
                            <form method='post' action="{% url 'control_de_descartes' %}" name='formControlDescartes'>
                                {% csrf_token %}
                                <div class='sidebar-box '>
                                <label class="form-label">Turno Anterior</label><br>
                                {% render_field formulario.t_ant_caja_n %}
                                /
                                {% render_field formulario.t_ant_cantidad_n %}<br>  
                                
                                <label class="form-label">Turno Actual</label><br>
                                {% render_field formulario.t_act_caja_n %}
                                /
                                {% render_field formulario.t_act_cantidad_n %}<br>
                                
                                <label class="form-label">Piezas por caja</label><br>
                                {% render_field formulario.piezas_por_caja %} <br>
                                
                                <label class="form-label">Tipo de Lente</label><br>
                                {% render_field formulario.tipo_lente %}<br>
                                
                                <label class="form-label">Peso en gramos</label><br>
                                {% render_field formulario.peso_en_kg %}<br>
                                
                                <label class="form-label">Turno</label><br>
                                {% render_field formulario.turno %}<br>
                                
                                {% render_field formulario.piezas_descartadas class='oculto' %}
                                {% render_field formulario.piezas_buenas class='oculto'%}
                                {% render_field formulario.piezas_malas class='oculto'%}<br>
                                </div>                       
                                <input type="submit" value="Guardar" onclick="Control.Descarte()"/>                                    
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>   

{% endblock Contenido %}

