{% extends 'lentes/index.html' %}

{% block Notificaciones %}
{% endblock Notificaciones %}

{% block Contenido %}
<!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">

                <!--  Traffic  -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="box-title">Control de descarte:</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="card-body">

                                            <form method='POST' action="{% url 'control_de_descartes' %}">
                                                {% csrf_token %}
                                                
                                                

                                                <div class="sidebar-box">
                                                Turno anterior:
                                                    <br>
                                                <input id="caja1" type="number" placeholder="Caja N°" />
                                                / <input id="cant1" type="number" placeholder="Cantidad" />
                                                <br>
                                                </div>
                                                <div class="sidebar-box">
                                                Turno actual:
                                                <br>
                                                <input id="caja2" type="number" placeholder="Caja N°" />
                                                / <input id="cant2" type="number" placeholder="Cantidad" />
                                                <br>
                                                </div>
                                                Piezas por caja:
                                                <br>
                                                <input id="piezasxcaja" type="number" placeholder="Cantidad" />
                                                <br>
                                                <div class="sidebar-box">
                                                Tipo de lente:
                                                <select class="lentes">
                                                    <option value="" selected>Elegir</option>
                                                    <option value="Ecoline">Ecoline</option>
                                                    <option value="Neon">Neon</option>
                                                    <option value="Argon">Argon</option>
                                                    <option value="Mig">Mig</option>
                                                </select>
                                                </div>
                                                Peso en Kg:
                                                <br>
                                                <input id="kg" type="textfield" placeholder="Kg" />
                                                <br>
                                                <input type="submit" class='btn btn-success' value="Guardar" />
                                                <input type="button"  value="Limpiar" onclick="location.reload()"/>
                                                <br>

                                            </form>
                                            <form>
                                                <br>
                                                Piezas buenas: <label id="resultado2" class="resultado2"></label>
                                                <br><br>
                                                Tipo de lente: <label id="resultado" class="resultado"></label>
                                                <br><br>
                                                Peso en Kg: <label id="log"></label>
                                                <br><br>
                                                Piezas malas: <label id="log1"></label> Pcs
                                                <br><br>
                                                Scrap %: <label id="scrap"></label>
                                                <br><br>
                                            </form>

                                    </div>
                                </div>  
                            </div> <!-- /.row -->
                            <div class="card-body"></div>
                        </div>
                    </div><!-- /# column -->
                </div>
                <!--  /Traffic -->

    <div class="clearfix"></div>

{% endblock Contenido %}
