{% extends 'lentes/index.html' %}
{% load widget_tweaks %}

{% block Contenido %}
<div class="content">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Fin de O.P:</h4>
                </div>
                <div class="center">
                    <div class="col-lg-8">
                        <div class="row">      
                            <form method='post' action="{% url 'fin_op' %}" name='formFinOp'>
                                <div class="sidebar-box">
                                <label class="form-label">Tipo de Producto</label><br>
                                {% render_field formulario.tipo_proceso class='sidebar-box' %}
                                {{formulario.errors}}<br>
                                </div>
                            
                                <div class="sidebar-box">
                                <label class="form-label">Tipo de Lente</label><br>
                                {% render_field formulario.tipo_lente %}
                                {{formulario.errors}}<br>
                                </div>        

                                <div>
                                <label class="form-label">Cantidad de rotulos</label><br>
                                {% render_field formulario.cant_rotulos %}<br>
                                </div> 
                                
                                <div>
                                <label class="form-label">Piezas por caja</label><br>
                                {% render_field formulario.piezas_por_caja %}<br>
                                {% render_field formulario.carros class="oculto"%}<br>
                                </div>    

                                <input type="submit" value="Guardar" onclick="Fin.OP()"/>
                            </form>
                            <form>
                                <br><br>
                                Faltan para finalizar la orden:<br><label id="resultado">0</label> Carros
                                <br><br>
                            </form>
                        </div>
                    </div>  
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock Contenido %}

