{% extends 'lentes/index.html' %}
{% load static %}

{% block Contenido %}
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        
                          
<div class="content">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Control de descarte:</h4>
                </div>
                <div class="center">
                    <div class="col-lg-8">
                        <div class="row">
                            <form method='post'action= "{% url 'tiempo_de_carro' %}" name="formTiempoCarro">
                            {% csrf_token %} 
                                <div class='sidebar-box'>
                                {{formulario.as_p}}
            
                                </div>
                                
                                <br>
                                
                                <input type='submit' value='Guardar tiempo' onclick="Tiempos.Carros()">
                                <br>
                            </form>            
                            <form>
                                <br><br>
                                Tiempo de Carro:<br><label id="resultado">0</label>Min
                                <br><br>
                                
                            </form>
                    </div>
                </div>
            </div>          
        </div>
    </div>
 <div class="card-body"></div> 
 <table class="table table-striped">
    <thead>
      <tr>
        
        <th scope="col">Tipo Proceso</th>
        <th scope="col">Tipo Lente</th>
        <th scope="col">Tiempo de Ciclo</th>
        <th scope="col">Tiempo de Carro</th>
      </tr>
    </thead>
    {% for item in datos  %}
        <tbody>
        <tr>
            <td>{{item.tipo_proceso}}</td>
            <td>{{item.tipo_lente}}</td>
            <td>{{item.tiempo_ciclo}}</td>
            <td>{{item.tiempo_carro}}</td>
        </tr>
        </tbody>
    {% endfor %}
  </table>

<!--  /DIV Tiempo de carro  -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="{% static 'assets/js/main.js' %} "></script>
<script src="{% static 'assets/js/init/tcarro.js' %}" ></script>


{% endblock Contenido %}

<!-- Scripts -->



