{% extends 'lentes/index.html' %}

{% block Notificaciones %}
{% endblock Notificaciones %}


{% block Contenido %}
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Tiempo de Carro:</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card-body"> 
                                <form method="POST" action="{% url 'tiempo_de_carro' %}">
                                    {% csrf_token %}
                                       <!--{% for campo in formulario  %}
                                          <br>
                                          <label class='form-label'> {{ campo.label }}: </label> 
                                          <br>
                                          
                                          <input 
                                          type="{{campo.field.widget.input_type}}" 
                                          placeholder="{{campo.label}}" 
                                          name="{{campo.name}}" 
                                          id="tiempo_ciclo" />
                                          <br>
                                          <div class='col-12 help-text'>{{campo.errors}}</div>
                                        {% endfor %}
                                    --> 
                                        {{formulario.as_p }}
                                        <input type="button" value="Limpiar" onclick="location.reload()"/>
                                        <br>
                                        <input type="submit" class='btn btn-success' value="Guardar">
                                </form>
                                <form>
                                    <br>
                                    Tipo de proceso: <label class="resultado"></label>
                                    <br><br>
                                    Tipo de Lente: <label class="resultado2"></label>
                                    <br><br>
                                    Tiempo de ciclo: <label id="log"></label>
                                    <br><br>
                                    Tiempo de Carro: <label id="log1">0</label> Min
                                    <br>
                                </form>
                            </div>
                        </div>  
                    </div> <!-- /.row -->
                    <div class="card-body"></div>
                </div>
            </div><!-- /# column -->
        </div>
<div class="clearfix"></div>
{% endblock Contenido %}

 
